doc/app/*
.bundle
db/*.sqlite3
log/*.log
tmp/

config/hibiscus.yml
config/mongoid.yml

.idea/*
.DS_Store
*/.DS_Store
coverage/*
/coverage.data
bin/

config/mongoid.yml

*.json

*.yml

.gitignore

*.json

*.yml

.gitignore
