<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Automated Article Feed Notification by <%= @user.name %></h1>
<p>
  Feeds were generated.
</p>
<p>
  To view the feeds just follow this link: <%= @url %>.
</p>
<p>Do not reply to this email.</p>
</body>
</html>