 <% if @docs %>
  <p id="result-count">Your search for "<%= params[:query] %>" returned <%= pluralize @docs['matches'], 'result' %></p>

  <ul id="results">
    <% @docs['results'].each do |doc| %>
      <li>
         <%# link_to "http://plixi.com/p/#{doc['plixi_id']}" do %>
          <%# image_tag doc['thumbnail_url'] %>
          <%# doc['screen_name'] %> -
          <%# time_ago_in_words Time.at(doc['timestamp'].to_i) %> ago

          <%= simple_format doc['text'] %>
        <%# end %>
      </li>
    <% end %>
  </ul>
<% end %>