#maiden_speech {
	padding-top: 30px;
    font-size: 1.3em;
    width: 70%;
}

#authentications {
    padding-top: 30px;
    font-size: 1.3em;
    width: 70%;
}

#activities {
	padding-top: 30px;
}

.activity {
	list-style-type: none;
}

#newActivity, #newLearningPlan {
	padding: 30px 0;
}

.profile_emails{
    font-size: 1.3em;
}

#profile_name{
    font-size: 2em;
}