#maiden_speech {
	/*padding-top: 30px;*/
    /*font-size: 1.3em;*/
    width: auto;
}

#authentications {
    padding-top: 30px;
    font-size: 1.3em;
    width: 70%;
}

#activities {
	padding-top: 30px;
}

.activity {
	list-style-type: none;
}

#newActivity, #newLearningPlan {
	padding: 30px 0;
}

.profile_emails{
    font-size: 1.3em;
}
.profile_emails_values{
     font-size: 1.2em;
 }

#profile_name{
    font-size: 2em;
}

#gravatar_div{
    float: right;
    width: 200px;
    padding: 1%;
    margin: 2%;
    border: 1px solid #d3d3d3;
    text-align: center;
    background-color: #ffffff;
}

#gravatar_link{
    float: right;
    width: 200px;
    padding: 1%;
    margin: 2%;
    text-align: center;
    /*border: 1px solid;*/
    text-align: center;
    /*background-color: #e2e2e2;*/
}

#profile_div{
    width: 640px;
    float: left;
    padding: 5%;
    /*border: 1px solid;*/
    /*background-color: #ffffff;*/

    height: auto;
    display: block;
    background: #ffffff;
    -webkit-box-shadow: 0 10px 6px -3px #777;
    -moz-box-shadow: 0 10px 6px -3px #777;
    box-shadow: 0 10px 6px -3px #777;
    /*border: 1px solid #000000;*/
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: 2%;


}

#main_profile_div{
    float: left;
    width: 1058px;
    height: auto;
    /*border: 1px solid #000000;*/
    padding: 1%;
    background: #e1e1e1;
    margin-bottom: 4%;
}

