<h2>Authentications</h2>
<br><br>
<table>
  <tr>
    <th class="auth_header">User</th>
    <th class="auth_header">Provider</th>
    <th class="auth_header">Uid</th>
  </tr>

<% @authentications.each do |authentication| %>
  <tr class="auth_row">
    <td><%= authentication.user_id %></td>
    <td><%= authentication.provider %></td>
    <td><%= authentication.uid %></td>
  </tr>
<% end %>
</table>

<br><br>
<section class="page_nav_links">

  <%= link_to 'Back', :back %>
</section>
<br><br>