<h1>Getting Started... </h1><br>
<div>
  <h2>What is a kata? </h2>

  <p>Add something here... </p>

  <h2>Why should I practice Katas? </h2>

  <p>Add something here... </p>

  <h2>How do I start it? </h2>

  <p>Add something here... </p>
</div>
<div>
  <h2>Here are some easy katas you can start with: </h2>
  <% (1..3).each do |x| %>
      <% easy_kata = eval "@easy_kata#{x}" %>
      <%= link_to "Easy Kata #{x.to_s} (#{easy_kata.category_id})", easy_kata %>
      <br>
  <% end %>
</div><br>
