<h1>Getting Started... </h1><br>
<div>
  <h2>What is a kata? </h2>

  <p>Add something here... </p>

  <h2>Why should I practice Katas? </h2>

  <p>Add something here... </p>

  <h2>How do I start it? </h2>

  <p>Add something here... </p>
</div>
<div>
  <h2>Here are some easy katas you can start with: </h2>
  <ul>
  <% @easy_katas.each do |kata| %>
      <li><%= link_to kata.title, kata %></li>
  <% end %>
  </ul>
</div>
