<%= link_to "New #{@type}", new_polymorphic_path(@type.constantize) %>

<script type="text/javascript">

    $(document).ready(function () {
        $('.main-post-div').css('opacity', 0).each(function (i) {
            var height = $('#main-all-posts-div').height();

            $('#main-all-posts-div').animate({ height:height+220}, 500);
            $('#main-all-posts-div').height("+=220");
            $(this).css('display', 'block');
            $(this).animate({ opacity:0 }, i * 500);
            $(this).animate({ opacity:1}, 1000);
        })
    });
</script>


<div id="main-all-posts-div">
    <% @posts.desc(:created_at).limit(15).each do |post| %>
        <div class="main-post-div" style="display: none;">
          <%= render partial: "posts/#{post.class.name.downcase}_short", locals: { post: post } %>
              <%#= render partial: "posts/#{@type.downcase}_short", locals: { post: post } %>
        </div>
    <% end %>
</div>

<div id="second_new_post_link">

<% if @posts.length > 0%>                    <br><br>
    <%= link_to "New #{@type}", new_polymorphic_path(@type.constantize) %>
    <% end %>

<br /><br />

</div>