<div id="vote_<%= review.id %>" >

<%= link_to 'Vote Up', upvote_kata_review_path(@commentable, review), :class => "upvote", :method => :post, :remote => true %>

<span><%= review.plusminus %></span>

<%= link_to 'Vote Down', downvote_kata_review_path(@commentable, review), :class => "downvote", :method => :post, :remote => true %>

</div>