<div id="social-icons">
  <span class='st_facebook_large'></span>
  <span class='st_twitter_large'></span>
  <span class='st_linkedin_large'></span>
  <span class='st_googleplus_large'></span>
  <span class='st_wordpress_large'></span>
  <span class='st_tumblr_large'></span>
  <span class='st_blogger_large'></span>
  <span class='st_reddit_large'></span>
  <span class='st_digg_large'></span>
  <span class='st_email_large'></span>
</div>