<div id="social-icons">
  <span class='st_facebook'></span>
  <span class='st_twitter'></span>
  <span class='st_linkedin'></span>
  <span class='st_googleplus'></span>
  <span class='st_wordpress'></span>
  <span class='st_tumblr'></span>
  <span class='st_blogger'></span>
  <span class='st_reddit'></span>
  <span class='st_digg'></span>
  <span class='st_email'></span>
</div>